.pmargin{
    margin: 30px;
}

.psize{
    font-size: 20px;
}

.expsize{
    font-size: 18px;
}

.p-20 {
    padding: 20px;
}

.mx-w200{
    max-width: 200px;
}
.w-300{
    width: 300px;
}
.maxwidth-700{
    max-width: 700px;
}