.d-flex{
    display: flex;
}

.gap-5{
    gap: 50px; 
}

.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.justify-content-space-around{
    justify-content: space-around;
}