@import url(./color.css);
@import url(./position.css);
@import url(./dimension.css);
.line{
    text-decoration: underline;
}
.pborde{
    border-left: 3px lightslategray;
}
h5{
    font-size: 18px;
} 
